html, body {
	background-color: black;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
.sliderContainer {
	overflow-x: auto;
	padding-bottom: 20px;
}
.sliderImages {
	overflow-x: auto;
	z-index: 9;
}
.sliderControl img {
	float: left;
	height: 60px;
	max-width: 25%;
	margin: 10px -2px;
    transform: skewX(-15deg);
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.sliderControl img:last-child {
	border-bottom-right-radius: 10px;
	border-right: 2px solid #ccc;
}
.sliderControl img:first-child {
	border-top-left-radius: 10px;
	border-left: 2px solid #ccc;
}