/*/////////////////
    scrollbar
/////////////////*/
::-webkit-scrollbar {
    width: 0.2em;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-button {
	opacity: 0;
	height: 0.5em;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url('../img/city.jpg');
}
nav {
	background-color: rgba(10,10,10,.8);
}
nav span {
	padding-left: 15px;
}
.side-nav {
	height: inherit;
}
.sliderControl {
	background-color: rgba(10,10,10,1);
	box-shadow: 0px 5px 1px 3px rgba(13,13,13,1);
}
.button-collapse {
	padding-right: 15px;
}