body {
	background-image: url('city.jpg');
}
.brand-logo span {
	margin-left: 25px;
	font-family: 'Yellowtail', cursive;
	font-size: 1.2em;
}
nav {
	background: rgba(25,25,25,.8);
}
#top-menu a, #slide-out a {
	color: #d84315;
	font-size: 1.5em;
	font-family: 'Rambla', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
#top-menu a:hover, #slide-out a:hover {
	color: white;
}