
/*------------Scrollbar--------------*/

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-track {
    background-color: #bbdefb;
}
::-webkit-scrollbar-thumb {
    background-color: #0d47a1;
}
::-webkit-scrollbar-button {
	opacity: .7;
	height: 0em;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

/*------------Navigation bar--------------*/

nav span {
	font-size: .8em;
}

/*Mobile sliding menu panel*/
#slide-out {
	height: inherit;
}
#slide-out li {
	padding: 0;
}
#slide-out li:hover {
    background-color: #bbdefb;
	padding: 0;
}
#slide-out a {
	padding: 0 25px;
}
#slide-out p {
	font-size: 1.2em;
	padding-left: 17px;
	color: #777;
}
#slide-out img {
	padding-right: 15px;
	vertical-align: middle;
	width: 50px;
	height: 32px;
}
.nav-wrapper img {
	padding-right: 15px;
	vertical-align: middle;
	width: 50px;
	height: 32px;
}
hr {
	border: 1px solid #eee;
}
.button-collapse {
	padding: 0 15px;
}
#contField {
	padding: 20px 5px;
}
#desktop_flex {
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
	margin-left: 25px;
}
#desktop_flex a {
	padding: 10px;
	display: -webkit-flex;
    display: flex;
	height: 60px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
#desktop_flex a:hover {
	background-color: #bbdefb;
}
#desktop_flex span {
	padding-left: 10px;
	-webkit-align-self: center;
    align-self: center;
	color: #333;
	font-size: 1.2em;
}
#desktop_flex p {
	font-size: 1.2em;
	margin-top: 10px;
}
#desktop_flex img {
	width: 45px;
	height: 40px;
}
#mainContent {
	margin-top: 5px;
	padding: 0 30px;
}
#desktop_flex_top {
	top: 45px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
	margin-bottom: 5px;
	padding: 5px 0;
}
#desktop_flex_top a {
	display: -webkit-flex;
    display: flex;
	padding: 0 20px;
	border-radius: 30px;
	height: 35px;
}
#desktop_flex_top a:hover {
	background-color: #bbdefb;
}
#desktop_flex_top img {
	height: 25px;
	-webkit-align-self: center;
    align-self: center;
}
#desktop_flex_top span {
	padding: 0 7px;
	-webkit-align-self: center;
    align-self: center;
	color: #333;
	font-size: 1.2em;
}

#showreel img {
	width: 20px;
}
#shwrl_warn {
	width: 15px;
	margin: 0 5px;
}
form {
	margin-top: 15px;
	border: 1px solid white;
}


/*------------Media queries-------------*/

/*small*/
@media screen and (max-width: 600px) {

}
/*medium*/
@media screen and (max-width: 992px) and (min-width: 600px) {

}
/*large*/
@media screen and (min-width: 991px) {
	hr {
		border: 1px solid #eee;
		margin: 3px;
		margin-right: 30px;
	}
	#mainContent {
		position: absolute;
		margin-top: 25px;
		padding: 0 30px;
		border-left: 2px solid #7986cb;
	}
	#desktop_flex_top {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
		margin-left: 25px;
		margin-bottom: 25px;
	}
	#desktop_flex_top a {
		display: -webkit-flex;
		display: flex;
		padding: 0 20px;
		border-radius: 30px;
		height: 55px;
	}
	#desktop_flex_top a:hover {
		background-color: #bbdefb;
	}
	#desktop_flex_top img {
		height: 40px;
		-webkit-align-self: center;
		align-self: center;
	}
	#desktop_flex_top span {
		padding: 0 15px;
		-webkit-align-self: center;
		align-self: center;
		color: #333;
		font-size: 1.2em;
	}
}


/*-----------Forms Materialize----------*/

.form {
	padding: 0 0px;
}
/* label color */
.input-field label {
	color: #0d47a1;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #0d47a1;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #0d47a1;
	box-shadow: 0 1px 0 0 #0d47a1;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #0d47a1;
	box-shadow: 0 1px 0 0 #0d47a1;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: grey;
}
/* textarea, materialize form */
#showrl_description:focus,
#showrl_path:focus {
	border-bottom: 1px solid #0d47a1;
	-webkit-box-shadow: 0 1px 0 0 #0d47a1;
	-moz-box-shadow: 0 1px 0 0 #0d47a1;
	box-shadow: 0 1px 0 0 #0d47a1;
}
#matr_descrLb {
	color: #0d47a1;
}

.checkbox-orange[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #0d47a1;
    background-color: #0d47a1;
}

/*------------Help classes-------------*/

.bold {
	font-weight: bold;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.lightText {
	opacity: .8;
}
.helperText {
	color: #bbb;
}
.helperText:hover {
	color: orange;
}
.infoText {
	color: #1a237e;
}
.margLeft {
	margin-left: 15px;
}
.margTop {
	margin-top: 15px;
}
.margBot {
	margin-bottom: 15px;
}