
/*------------Scrollbar--------------*/

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-track {
    background-color: #bbdefb;
}
::-webkit-scrollbar-thumb {
    background-color: #0d47a1;
}
::-webkit-scrollbar-button {
	opacity: .7;
	height: 0em;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

/*------------Navigation bar--------------*/

nav span {
	font-size: .8em;
}

.sub_nav {
	position: fixed;
	top: 56px;
	width: 100%;
	z-index: 100;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
	margin-bottom: 5px;
	padding: 5px 0;
	background-color: #ffc107;
}
.sub_nav a {
	background-color: #ffe082;
	display: -webkit-flex;
    display: flex;
	padding: 0 20px;
	border-radius: 10px;
	height: 35px;
	margin: 1px;
}
.sub_nav a:hover {
	background-color: #f1f8e9;
}
.sub_nav img {
	height: 25px;
	-webkit-align-self: center;
    align-self: center;
}
.sub_nav span {
	padding: 0 7px;
	-webkit-align-self: center;
    align-self: center;
	color: #333;
	font-size: 1.2em;
}

/*Mobile sliding menu panel*/
.material-icons {
	padding-right: 15px;
}
#slide-out {
	height: inherit;
}
#slide-out li {
	padding: 0;
}
#slide-out li:hover {
    background-color: #ffe082;
	padding: 0;
}
#slide-out a {
	padding: 0 25px;
}
#slide-out p {
	font-size: 1.2em;
	padding-left: 17px;
	color: #777;
}
#slide-out img {
	padding-right: 15px;
	vertical-align: middle;
	width: 50px;
	height: 32px;
}
.nav-wrapper img {
	padding-right: 15px;
	vertical-align: middle;
	width: 50px;
	height: 32px;
}
hr {
	border: 1px solid #eee;
}
.button-collapse {
	padding: 0 15px;
}
#contField {
	padding: 20px 5px;
}
#desktop_flex {
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
	margin-left: 25px;
}
#desktop_flex a {
	padding: 10px;
	display: -webkit-flex;
    display: flex;
	height: 60px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
#desktop_flex a:hover {
	background-color: #ffe082;
}
#desktop_flex span {
	padding-left: 10px;
	-webkit-align-self: center;
    align-self: center;
	color: #333;
	font-size: 1.2em;
}
#desktop_flex p {
	font-size: 1.2em;
	margin-top: 10px;
}
#desktop_flex img {
	width: 45px;
	height: 40px;
}

#showreel img {
	width: 20px;
}
#shwrl_warn, 
#shwrl_pencil {
	width: 15px;
	margin: 0 5px;
}
form {
	margin-top: 15px;
	border: 1px solid white;
}
#radio_flex {
	display: -webkit-flex;
    display: flex;
}
#radio_flex p {
	margin-right: 15px;
}
#radio_flex label {
	color: black;
}

#cpCont div {
	height: 90px;
}
#cpCont > div,
#cpCont > a {
	border-top: 1px solid #dcedc8;
}
#cpCont > div:hover,
#cpCont > a:hover {
	background-color: #f1f8e9;
}
#cpCont label {
	width: 100%;
}
.materialboxed {
	padding: 10px;
}
.imgRow {
	padding-left: 10px;
}
#mainContent {
	padding: 0;
}

/*------------Media queries-------------*/

/*small*/
@media screen and (max-width: 600px) {
	.sub_nav span {
		font-size: .9em;
	}
	.sub_nav a {
		padding: 0 10px;
		height: 30px;
	}
	.sub_nav img {
		height: 20px;
	}
}
/*medium*/
@media screen and (max-width: 992px) and (min-width: 600px) {
	.sub_nav {
		position: fixed;
		top: 64px;
		width: 100%;
		z-index: 100;
	}
	.cp_content {
		padding: 0 25px;
	}
}
/*large*/
@media screen and (min-width: 991px) {
	hr {
		border: 1px solid #eee;
		margin: 3px;
		margin-right: 30px;
	}
	#mainContent {
		position: absolute;
		border-left: 2px solid #7986cb;
	}
	.sub_nav {
		position: fixed;
		top: 64px;
		width: 100%;
		z-index: 100;
	}
	.cp_content {
		padding: 0 25px;
	}
}


/*-----------Forms Materialize----------*/

.form {
	padding: 0 0px;
}
/* label color */
.input-field label {
	color: orange;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: orange;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid orange;
	box-shadow: 0 1px 0 0 orange;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid orange;
	box-shadow: 0 1px 0 0 orange;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: grey;
}
/* textarea, materialize form */
#showrl_description:focus,
#showrl_path:focus {
	border-bottom: 1px solid orange;
	-webkit-box-shadow: 0 1px 0 0 orange;
	-moz-box-shadow: 0 1px 0 0 orange;
	box-shadow: 0 1px 0 0 orange;
}
#matr_descrLb {
	color: orange;
}

.checkbox-orange[type="checkbox"]:checked + label:after {
    border: 2px solid orange;
    background-color: orange;
}
.orange-radio[type="radio"]:checked + label:after {
	border: 2px solid orange;
    background-color: orange;
}

/*------------Help classes-------------*/

.bold {
	font-weight: bold;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.flex {
	display: -webkit-flex;
    display: flex;
}
.flex_col {
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
}
.lightText {
	opacity: .8;
}
.helperText {
	color: #bbb;
}
.helperText:hover {
	color: orange;
}
.infoText {
	color: #1a237e;
}
.titleText {
	color: #1a237e;
}
.margLeft10 {
	margin-left: 10px;
}
.margLeft {
	margin-left: 15px;
}
.marg15 {
	margin: 15px;
}
.pad10 {
	padding: 10px;
}
.pad15 {
	padding: 15px;
}
.margTop {
	margin-top: 15px;
}
.margTopX {
	margin-top: 70px;
}
.margBot {
	margin-bottom: 15px;
}
.margBotExtra {
	margin-bottom: 30px;
}
.textShadow {
	text-shadow: 3px 3px black;
}
.smImage {
	width: 50px;
}
.textCenter {
	text-align: center;
}
.flexVertCenter {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.flexToRows {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}