
/*------------Scrollbar--------------*/

::-webkit-scrollbar {
    width: 0.2em;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-button {
	opacity: 0;
	height: 0.5em;
}

* {
	padding: 0;
	margin: 0;
	font-family: consolas;
	font-weight: bold;
}

/*------------Navigation bar--------------*/

nav span {
	font-size: .8em;
}

/*Mobile sliding menu panel*/
#slide-out {
	height: inherit;
}
#slide-out li {
	padding: 0;
}
#slide-out a {
	padding: 0 25px;
}
#slide-out li:hover {
    background-color: #03a9f4;
	padding: 0;
}
#slide-out a:hover {
	color: white;
}
#slide-out img {
	padding-right: 15px;
	vertical-align: middle;
	width: 50px;
	height: 32px;
}
.nav-wrapper img {
	padding-right: 15px;
	vertical-align: middle;
	width: 50px;
	height: 32px;
}
hr {
	border: 1px solid #eee;
}
.button-collapse {
	padding: 0 15px;
}
#contField {
	padding: 20px 5px;
}
#desktop_menu img {
	padding-right: 15px;
	margin-bottom: 15px;
	vertical-align: middle;
	width: 50px;
	height: 32px;
}

/*------------Media queries-------------*/

/*small*/
@media screen and (max-width: 600px) {

}
/*medium*/
@media screen and (max-width: 992px) and (min-width: 600px) {

}
/*large*/
@media screen and (min-width: 991px) {
	#contField {
		padding: 25px;
		margin-top: 50px;
	}
}

/*-----------Forms Materialize----------*/

.form {
	padding: 0 0px;
}
/* label color */
.input-field label {
	color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: white;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 white;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 white;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #999;
	box-shadow: 0 0px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: grey;
}
/* textarea, materialize form */
#p_description:focus {
	border-bottom: 1px solid white;
	-webkit-box-shadow: 0 1px 0 0 white;
	-moz-box-shadow: 0 1px 0 0 white;
	box-shadow: 0 1px 0 0 white;
}
#labelTextarea {
	color: white;
}

.checkbox-orange[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid white;
    background-color: white;
}

/*------------Help classes-------------*/

.bold {
	font-weight: bold;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}